<mat-toolbar color='primary'>
    <span><a routerLink=''>Social Application</a></span>
    <span class="spacer"></span>
    <ul>
        <li *ngIf='userIsAuthenticated'>
            <a routerLink='/create' mat-button routerLinkActive='mat-accent'>New Post</a>
        </li>
        <li *ngIf='!userIsAuthenticated'>
            <a routerLink='/login' mat-button routerLinkActive='mat-accent'>Login</a>
        </li>
        <li *ngIf='!userIsAuthenticated'>
            <a routerLink='/signup' mat-button routerLinkActive='mat-accent'>SignUp</a>
        </li>
        <li *ngIf='userIsAuthenticated'>
            <button mat-button  (click)= 'onLogout()'>Logout</button>
        </li>
    </ul>
</mat-toolbar>
