<mat-card>
    <form (submit)="onSignup(signupForm)" #signupForm="ngForm" >
        <mat-form-field>
            <input matInput type="email" name="email" ngModel #emailInput="ngModel"  placeholder="E-Mail" required email>
            <mat-error *ngIf="emailInput.invalid">Title is required</mat-error>
        </mat-form-field>
        <mat-form-field >
            <input type="password" name="password" ngModel #passwordInput="ngModel" matInput placeholder="Password" required>
            <mat-error *ngIf="passwordInput.invalid">Content is required</mat-error>
        </mat-form-field>
        <button 
        mat-raised-button
        color='accent'
        value="submit">SignUp</button>
    </form>
</mat-card>
