<mat-card>
    <form [formGroup]="form" (submit)='onSavePost()'>
        <mat-form-field class='example-full-width'>
            <input matInput type="text" formControlName='title' placeholder="Enter Title">
            <mat-error *ngIf="form.get('title').invalid">Title is required</mat-error>
        </mat-form-field>
        <div>
            <button mat-stroked-button type="button" (click)='filePicker.click()'>Pick Image</button>
            <input type="file" #filePicker (change)="OnImagePicked($event)">
        </div>
        <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid ">
            <img [src]="imagePreview" [alt]="form.value.title">
        </div>
        <mat-form-field class='example-full-width'>
            <textarea matInput  id="" cols="30" rows="10" formControlName='content' placeholder="Enter Content" required></textarea>
            <mat-error *ngIf="form.get('content').invalid">Content is required</mat-error>
        </mat-form-field>
        <button 
        mat-raised-button
        color='accent'
        value="submit">Save Post</button>
    </form>
</mat-card>
