<mat-accordion multi='true' *ngIf='posts.length > 0'>
    <mat-expansion-panel *ngFor='let post of posts'>
      <mat-expansion-panel-header>
          {{post.title}}
      </mat-expansion-panel-header>
      <div class="post-image">
        <img [src]="post.imagePath" [alt]="post.title">
      </div>
        <p>{{post.content}}</p> 
      <mat-action-row *ngIf='userIsAuthenticated'>
        <a mat-button color='primary' [routerLink]= "['/edit', 'postId']">EDIT</a>
        <button mat-button color='accent' (click)= 'onDelete(post.id)'>DELETE</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <!-- <mat-paginator [length]="totalPosts" [pageSize]= "postsPerPage" [pageSizeOptions]= "pageSizeOptions"></mat-paginator> -->
  <p class=" info-text mat-body-1"  *ngIf='posts.length<=0'>No posts added yet</p>